@{
    var modelState = ViewData.ModelState;
}

@if (modelState != null && !modelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>There were some errors with your form submission:</strong>
        <ul>
            @foreach (var error in modelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@if (TempData["Error"] != null)
{
    <div id="error-alert" class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Success"] != null)
{
    <div id="success-alert" class="mt-5 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

