@model Factory.PL.ViewModels.Home.FAQSViewModel

@{
    ViewData["Title"] = "Create FAQ";
    Layout = "_LogedUser";
}

<div class="container mt-4 shadow-lg p-3  rounded">
    <div class="mt-5">
        @await Html.PartialAsync("ErrorSummaryPartial")

    </div>

    <h2 class="text-center mb-4 py-3 px-4 rounded">
        <i class="bi bi-plus-circle me-2"></i> @ViewData["Title"]
    </h2>

    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label for="Question" class="form-label">
                <i class="bi bi-question-circle me-2"></i> Question
            </label>
            <input type="text" asp-for="Question" class="form-control" id="Question" />
            <span asp-validation-for="Question" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Answer" class="form-label">
                <i class="bi bi-chat-dots me-2"></i> Answer
            </label>
            <textarea asp-for="Answer" class="form-control" id="Answer" rows="4"></textarea>
            <span asp-validation-for="Answer" class="text-danger"></span>
        </div>

        <div class="text-center mb-4">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-check-circle me-2"></i> Create FAQ
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
