@model Factory.PL.ViewModels.Home.FAQSViewModel

@{
    ViewData["Title"] = "Edit FAQ";
    Layout = "_LogedUser";

}

<div class="container-fluid card  shadow mt-3 p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")

    @await Html.PartialAsync("_PageTitle")


    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label asp-for="Question" class="form-label"></label>
            <input asp-for="Question" class="form-control" />
            <span asp-validation-for="Question" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Answer" class="form-label"></label>
            <textarea asp-for="Answer" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Answer" class="text-danger"></span>
        </div>

        <div class="form-group text-center mb-4">
            <input type="submit" value="Save" class="btn btn-outline-primary" />
            <a href="@Url.Action("Index", "FAQs")" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </form>
</div>
