@model Factory.PL.ViewModels.Warehouses.SubWarehouseViewModel

@{
    ViewData["Title"] = "Create Sub Warehouse";
    Layout = "_LogedUser";  
}

<div class="container mt-4 shadow-lg  p-4 bg-light rounded">

    <h2 class="text-center mb-4 bg-light text-dark py-3 px-4 rounded">
        <i class="bi bi-plus-circle me-2"></i> @ViewData["Title"]
    </h2>
    @await Html.PartialAsync("ErrorSummaryPartial")

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <form method="post">
        <div class="mb-3">
            <label asp-for="NameEn" class="form-label"></label>
            <input class="form-control" asp-for="NameEn" />
            <span asp-validation-for="NameEn" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NameAr" class="form-label"></label>
            <input class="form-control" asp-for="NameAr" />
            <span asp-validation-for="NameAr" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="AddressEn" class="form-label"></label>
            <input class="form-control" asp-for="AddressEn" />
            <span asp-validation-for="AddressEn" class="text-danger"></span>
        </div>

        <!-- Arabic Address -->
        <div class="mb-3">
            <label asp-for="AddressAr" class="form-label"></label>
            <input class="form-control" asp-for="AddressAr" />
            <span asp-validation-for="AddressAr" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MainWarehouseId" class="form-label"></label>
            <select class="form-control" asp-for="MainWarehouseId" asp-items="Model.MainWarehouses">
                <option value="">Please Select </option>
            </select>
            <span asp-validation-for="MainWarehouseId" class="text-danger"></span>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary">Create Sub Warehouse</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
