@model Factory.DAL.Models.Warehouses.MainWarehouse

@{
    ViewData["Title"] = "Delete Main Warehouse";
    Layout = "_LogedUser";

}

<div class="container-fluid card  shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")

    @await Html.PartialAsync("_PageTitle")

    <div class="alert alert-warning">
        <strong>Warning!</strong> Are you sure you want to delete the warehouse <b>@Model.NameEn</b>?
    </div>

    <form method="post">
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
