@model Factory.DAL.Models.Warehouses.SubWarehouse

@{
    ViewData["Title"] = "Delete Sub-Warehouse";
    Layout = "_LogedUser";

}

<div class="container-fluid card  shadow mt-3 p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <div class="alert alert-warning">
        <strong>Warning!</strong> Are you sure you want to delete the sub-warehouse <b>@Model.NameEn</b>?
    </div>

    <form method="post">
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        <a href="@Url.Action("ManageSubWarehouses", new { mainWarehouseId = Model.MainWarehouseId })" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
