@model Factory.PL.ViewModels.Warehouses.MainWarehouseViewModel

@{
    ViewData["Title"] = "Edit Main Warehouse";
    Layout = "_LogedUser";

}

<div class="container mt-4 shadow-lg  p-4  rounded">

    <h2 class="text-center mb-4 py-3 px-4">
        <i class="bi bi-plus-circle me-2"></i> @ViewData["Title"]
    </h2>
    @await Html.PartialAsync("ErrorSummaryPartial")


    <form method="post">
        <div class="mb-3">
            <label asp-for="NameEn" class="form-label"></label>
            <input class="form-control" asp-for="NameEn">
        </div>

        <div class="mb-3">
            <label asp-for="NameAr" class="form-label"></label>
            <input class="form-control" asp-for="NameAr">
        </div>

        <div class="mb-3">
            <label asp-for="AddressEn" class="form-label"></label>
            <input class="form-control" asp-for="AddressEn">
        </div>

        <div class="mb-3">
            <label asp-for="AddressAr" class="form-label"></label>
            <input  class="form-control"  asp-for="AddressAr">
        </div>
        <div class="text-center mt-4">

        <button type="submit" class="btn btn-outline-primary">Update Warehouse</button>
         </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}