@model Factory.PL.ViewModels.Settings.SettingsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LogedUser";
}

<div class="container mt-4 shadow-lg p-4 rounded">
    @await Html.PartialAsync("ErrorSummaryPartial")


    <h2 class="text-center mb-4 py-3 px-4 rounded">
        <i class="bi bi-pencil me-2"></i> @ViewData["Title"]
    </h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" /> 

        <partial name="_SettingsForm" model="Model" />

        <div class="text-center mb-4  py-3 px-4 rounded">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-save me-2"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i> Back to List
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}